name = "wrk-wanya-me"
main = "src/index.ts"
compatibility_date = "2024-12-05"

[vars]
SITE_NAME = "WANYA Portfolio"
ALLOWED_ORIGINS = "https://wanya.me,https://www.wanya.me"

[[routes]]
pattern = "wanya.me/api/contact*"
zone_name = "wanya.me"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
